/.vscode/
/.vs/
/backups/
/benchmark/absl/
/bin/
/build/
/ext/benchmark/
/lib/
/micro-benchmark/
/obj/
/scratch/
/test_data/BLNS/
/test_data/examples/numbers/
/test_data/JSON_checker/
/test_data/JSONTestSuite/
/test_data/UTF-8-test.txt
Makefile
*.exe
*.make
*.obj
*.sln
*.vcxproj
*.vcxproj.user
*.vspx
